.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text {
    font-size: 35px;
    font-weight: 500;
}

.status {
    font-size: 25px;
}

.isOnline {
    color: rgb(7, 186, 7);
}

.isOffline {
    color: red;
}